
  
    <div class="col-sm-auto">
      <%= link_to '<', 
        project_stage_next_path(project.procedure.group, project.procedure, project), 
        class: 'btn btn-sm btn-primary' %>
    </div>
    <span class='col-md-auto'>
      <strong><%= project.title %></strong>
    </span>
    <div class="col-sm-auto">
      <%= link_to '>', 
        project_stage_back_path(project.procedure.group, project.procedure, project), 
        class: 'btn btn-sm btn-primary' %> 
    </div>

