<%= turbo_frame_tag @procedure do %>
  <div class="group-card" >
    <h1>Editing procedure</h1>

    <%= render "form", procedure: @procedure %>

    <br>

    <div>
      <%= link_to "Back to procedures", group_procedures_path(@group) %>
    </div>

  </div>
<% end %>